html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color:#2196F3;
    --primary-white-color: #FFFFFF; 
    --primary-white-color: #FFFFFF; 
}


body{
    margin: 0;
}

h1, h2, h3, h4, p{
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: block;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}   

/*убираем точки*/
    .list{
        padding:0;
        margin: 0;
        list-style: none;
    }

.container{
    width:1170px;
    padding-left:15px;
    padding-right:15px;
    margin:0 auto;
    outline:2px solid red; 
}


/* логотип */
.logo{
    display:inline-block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    text-decoration: none;
}
/* логотип web */
.logo-web{
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


/* меню */

.main-nav, .navigation, .site-nav, .contacts-nav{
    display:flex;
    align-items: center;
}

.main-nav{
    padding-top: 24px;
    padding-bottom: 25px;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.contacts{
    margin-left: auto;
}

.logo{
    margin-right: 85px;
}

.contacts-nav .item + .item{
margin-left: 30px;
}

.menu-link{
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color)
}
/* активная вкладка меню */
.active{
    color: var(--accent-color)  
}


/* меню контакты */
.menu-contacts{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}
.menu-contacts:hover,
.menu-contacts:focus{
    color: var(--accent-color)
}

/* заголовок шапки */
.hero-title{ 
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: var(--primary-white-color); 
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* фон шапки */
.hero{
    width: 1600px;
    margin-top: 0;  
    outline: 2px solid tomato; 
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);  
 
}
/* кнопка в шапке */
.btn{
    display:inline-block;
    padding:10px 32px;
    min-width: 200px;
    border-radius: 4px;
    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--primary-white-color);
    background-color: var(--primary-background-color);
    text-decoration: none;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}



/* загаловки */
.features-title, .work-title, .about-us-title, .clients-title{
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color); 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center; 
}

/* подзагаловки особенности */
.features-subtitle{
    margin-top: 10px;
    color: var(--title-text-color); 
    font-size: 14px;   
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
/*содержание особенности */
.features-description {
    margin-top: 10px;
    color: var(--primary-text-color);
    line-height: 1.71;
}

.features-list{
    display:flex;
}

.features-list .item{
  width:270px;  
}

.features-list .item:not(:last-child){
    margin-right: 30px;
}



.client-list{
    display:flex;
}

.client-list .item{
    width: 170px;
}

.client-list .item:not(:last-child){
    margin-right: 30px;
}


/*содержание чем занимаемся*/
.work-description{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8); 
}

.work-list{
    display:flex;
}

.work-list .item{
    width:370px;
}

.work-list .item:not(:last-child){
    margin-right: 30px;
}
/* заголовок секции наша команда */
.about-us-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;   
    color: var(--title-text-color);

    margin-bottom: 10px;
}
/*содержание секции наша команда*/
.about-us-description{
    font-size: 16px;
    line-height: 1.18;
    text-align: center; 
    color: var(--primary-text-color);

    margin-bottom: 16px;
}

.about-us-picture{
    margin-bottom: 30px;
}

.about-us-list{
    display:flex;
}

.about-us-list .item{
    width:270px;
    background: var(--primary-white-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.about-us-list .item:not(:last-child){
    margin-right: 30px;
}

.about-us-sm{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
}

.about-us-sm .item{
    width: 44px;
}

.about-us-sm .item:not(:last-child){
    margin-right: 10px;
}

.sm{
    text-decoration: none;
}

/* постоянные клиенты */
.client-list{
    display:flex;
    justify-content: space-between;
}

.client-list .item-1{
    width: 44.27px;
}
.client-list .item-2{
    width: 40px;
}
.client-list .item-3{
    width: 41px;
}
.client-list .item-4{
    width: 79.66px;
    color: #AFB1B8;
}
.client-list .item-5{
    width: 59px;
}
.client-list .item-6{
    width: 88.48px;
}

/* фон подвал */
.footer{
    background-color: #2F303A;
}
/* цвет логотипа 2 часть -подвал */
.logo-footer{
    display: inline-block;
    color: var(--primary-white-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    margin-bottom: 20px;
}
/* адрес подвал */
.footer-address{
    line-height: 1.71;
    color: var(--primary-white-color); 
    font-style: normal; 
}
/* адрес контактные данные -подвал */
.footer-address-contacts{
    font-style: normal;
    line-height: 1.71;  
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
/* призыв к действию - подвал  */
.footer-c2a{
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase; 
    color: var(--primary-white-color);
}

.footer{
    display:flex;
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;  

.footer-address{
    margin-right: 69px;
}


.footer-social{
    display:flex;
}

.footer-social .item{
    width: 44px;
    margin-left: 69px;
}


/* .footer-newsletter{
    display:flex;
} */



/* портфолио - фильтры */
.portfolio-filters{
    font-family: Roboto; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;   
    color: var(--title-text-color);
}
.portfolio-filters:hover,
.portfolio-filters:focus{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.portfolio-filters{
    display:flex;
    justify-content: center;
}

.portfolio-filters .item:not(:last-child){
    margin-right: 8px;
    margin-bottom: 50px;
}

/* портфолио - загаловок */
.portfolio-title{

    margin-top: 20px;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color); 
}
/* портфолио - подзаголовок */
.portfolio-subtitle{
    font-size: 16px;
    line-height: 1.87;
}

.portfolio-projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.portfolio-projects .item{
    width: 370px;
    margin-right: 15px;
}
.portfolio-projects .item:nth-child(3n){
    margin-right: 0;
}